
input
	border none

	&[type=submit], &[type=button]
		background #555
		color white
		padding 10px 20px

		&:hover
			background #333
			transition-duration .3s

#cf_custom
	span.wpcf7-not-valid-tip
		left: 70%
		margin-top: 50px
		position: relative
		top: 20%

	div.wpcf7-validation-errors
		margin-top:50px

#cf_message
	resize: vertical

form
	*
		font-family: 'Sans-Serif'
		text-transform uppercase
		margin 0
		padding 0
		position static

	p
		margin-bottom 0 !important

#cf_name, #cf_email, #cf_dropdown
	height:40px

#cf_name, #cf_email, #cf_dropdown, #cf_message
	padding 6px
	margin 5px 0
	color: dark_gray
	background-color: white
	border: 3px solid gray
	box-sizing border-box
	font-weight: 900
	width: 100%

	&:focus
		border-color gold

/*cf_custom contact form*/
#cf_custom{
	width:100%;
	height:500px;
	margin: auto;
}

.cf_custom {
	border: 0 none !important ;
	outline: 0 none;
	display: block;
	text-transform: uppercase;
	float: left;
}

#cf_name, #cf_email, #cf_dropdown, #cf_message{
	color: #111111 !important ;
	background: #fbd555;
	font-family:'Futuramc', sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 900;
	margin: 10px;
}

#cf_name, #cf_email, #cf_dropdown{
	width:300px;
	height:50px;
}

#cf_name, #cf_email{
	padding:0 10px !important;
}

#cf_email{
	margin-right:0px;
}

#cf_dropdown{
	padding:4px 0 4px 10px !important;
	width:300px;
	height:50px;
}

#cf_message{
	max-width:940px;
	width:940px;
	height:340px;
}

#cf_submit{
	background:transparent;
	color:#000;
	font-size:45px;
	width:160px;
	display:block;
	position:relative;
	left:50%;
	margin-left:-80px;
}

#cf_submit:hover{
	color:#666;
}

#cf_custom span.wpcf7-not-valid-tip {
	left: 70%;
	margin-top: 50px;
	position: relative;
	top: 20%;
}

#cf_custom div.wpcf7-validation-errors{
	margin-top:50px;
}
